{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Last movies</h1>
<ul>
        {% for movie in last_movies %}
            <li><a href="{{ path('app_movie', {id: movie.id}) }}">{{ movie.title }}</a></li>
        {% endfor %}
</ul>
{% endblock %}
